
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form id="categoryform" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" id="txtName" name="txtName" class="form-control" autocomplete="off" />
                            </div>
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input input-mini" id="closeButton" value="checked" />
                                <label class="custom-control-label" for="closeButton">Is Active</label>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" id="txthidden" value="0" />
                    <button type="submit" id="btnSave" class="btn btn-primary mr-1 waves-effect waves-light">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> Category List</h4>
        <div id="dtTableDetail">
            <table id="tblCategory" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var calling = 0;
            showCategory(calling);
            editOrDelete();
            $('#categoryform').validate({
            rules: {
               txtName: { required: true },
            },
            messages: {
                txtName:"Enter valid Name"
            },

            submitHandler: function (e) {
                var chk = 0;
                if ($('#closeButton:checkbox').prop('checked') == true) {
                    chk = 1;
                }
                var RequestCls = {
                    Name: $('#txtName').val(),
                    Active: chk,
                    Id: $('#txthidden').val()

                }
                var URLApi = '@Url.Content("~")' + "Master/AddCategory";
                $.ajax({
                    url: URLApi,
                    type: 'POST',
                    data: JSON.stringify(RequestCls),
                    async: false,
                    cache: false,
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        alert(data.message);
                        showCategory(1);
                        $('#categoryform')[0].reset();
                        
                        $('txtHidden').val('0');
                    },
                    error: function (data) {
                        alert(data.messages);
                    }

                });
            }
            });

        });



        function showCategory(calling) {

            $("#tblCategory").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,

                "ajax": {
                    "url":  '@Url.Content("~")' + "Master/GetCategory",
                    "type": "POST",
                    "Async": false,
                    
                    "datatype": "json",
                    cache: false
                },


                "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    {
                        "data": "Active", "name": "Active", "autoWidth": true, "render": function (value) {
                            if (value == 1) {
                                return '<span>Active</span>'
                            } else {
                                return '<span>In-Active</span>'
                            }
                        }
                    },
                    {
                        data:"Id","name":"Id","autowidth":true, "render": function (data, type, full, meta)
                        {
                            return '<a href="#" class="btn btn-info edit" href="#">Edit</a>' +
                                '<a href="#" class="btn btn-info delete text-danger" href="#">Delete</a>';
                        }
                    },



                ]

            });

            if (calling == 1) {
                $('#tblCategory').DataTable().ajax.reload();
                alert('called');
            }
        }

       function showCategoryEarlier() {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~")' + "Master/GetCategory",
                data: '',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {


                    var $table = "<table id='tblCategory'  width='100%' class='table table-xs table table-striped table-bordered dt-responsive nowrap nowrap table-striped scroll-horizontal table-hover'>";
                    var header = "<thead><tr ><th>SN</th><th style='text-align:center;'>Name</th><th style='text-align:center;'>Active</th><th></th></tr></thead>";
                    $table += header;
                    var count = 1;
                   // console.log(data);
                    $.each(data, function (i, x) {

                        console.log(x.Name);

                        var row = "<tr ><td style='text-align:center;'>" + count + "</td>" +
                            "<td style='text-align:center;'><span>" + x.Name + "  </span></td>" +
                            "<td style='text-align:center;'><span>" + x.active + "</span></td>" +
                             "<td><a class='btn-sm btn-blue edit' href='@Url.Content("~")'+'/Master/GetCategory'>Edit</a><span style='display:none'>" + x.Id + "</span></td>"+
                            "</tr>";
                        $table += row;
                        count++;
                    });

                    var footer = "<tfoot> <tr><td></td> <th>Name</th> <th>Active</th> <td></td></tr></tfoot>";
                    $table += footer;
                    $('#dtTableDetail').html($table);
                    $table += "</table>";
                    //$('#tblCategory tfoot th').each(function () {
                    //    var title = $(this).text();
                    //    $(this).html('<input type="text" style="font-size:11px; width: 100%;" class="form-control" placeholder="' + title + '" />');
                    //});
                    var table = $('#tblData').DataTable({ "sScrollX": "100%", "responsive": true, "bPaginate": true, "bLengthChange": true, "bFilter": true, "bSort": true, "bInfo": true, "bAutoWidth": true, });

                    //table.columns().every(function () {
                    //var that = this;
                    //$('input', this.footer()).on('keyup change', function () {
                    //       if (that.search() !== this.value) {
                    //            that
                    //                .search(this.value)
                    //                .draw();
                    //        }
                    //    });
                    //});

                    $('#dtTableDetail').show();
                },
                error: function (data) {
                    alert("error found");
                }

            });

        }

        function getCategoryRecords() {
            alert(0);
            $('#tblCategory').DataTable();
        }
    </script>
    <script type="text/javascript">

        function editOrDelete() {
            $(document.body).on('click', 'tr', function (e) {
                e.preventDefault();
                var data = $('#tblCategory').DataTable().row(this).data();
                console.log(e.target);
                if (e.target.className == 'btn btn-info edit') {
                    alert('edit');
                    $('html,body').animate({ scrollTop: 0 }, 1200);
                    $('#txtName').val(data.Name);
                    $('#txthidden').val(data.Id);


                    if (data.active == 1) {
                        $('#closeButton').prop('checked', true);

                    } else {
                        $('#closeButton').prop('checked', true);
                    }
                } else if (e.target.className == 'btn btn-info delete text-danger') {
                    if (confirm("are you sure to delete ?")) {

                        $('#txthidden').val(data.Id);
                        var RequestCls = {
                            Id: $('#txthidden').val()

                        }
                        var URLApi = '@Url.Content("~")' + "Master/RemoveCategory";
                        $.ajax({
                            url: URLApi,
                            type: 'POST',
                            data: JSON.stringify(RequestCls),
                            contentType: 'application/json;charset=utf-8',
                            cache: false,
                            success: function (data) {
                                //$('#dtTableDetail').html('');                                
                                showCategory(1);
                                alert(data.message);
                              
                                $('#categoryform')[0].reset();
                                
                            },
                            error: function (data) {
                                alert(data.messages);
                            }

                        });
                    }
                }


            });
        }
    </script>
}
